{% extends "base.jinja2" %}

buckley-vidal

{% block content %}
    <p></p>
      <div class="row-fluid">
        <div class="span4">
          <h1 style="background: #fff7e7;">Political Pundits</h1>
          <h4>Give us a link to an article about a recent global affair. We'll show you what today's political experts are saying about it...</h4>
        </div>
      </div>

    <form action="{{ url_for('url_required') }}" method="POST">
        <input type="hidden" name="next" value="/politicalpundittweets" />
        <input name="url" type="text" size="55"/><input type="submit" value="Submit" />
    </form>

{% endblock %}
