<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>

<div style="margin-top:20px; padding-left:30px; padding-bottom:30px;"><a href="/politicalpundittweets">  HOME</a></div>

<div style="width: 100%; overflow: hidden;">

    <div style="width: 600px; float: left; margin-left: 30px; margin-right:30px;">
        <h1>{{ title }}</h1>
        <p><a href="{{ url }}">{{ url }}</a></p>
        <p>{{ text }}</p>
    </div>

    <div style="margin-left: 700px; margin-right: 80px;">
        <h1> Snippets </h1>

          {% for snippetlists in newpundits %}
            {% for snippet in snippetlists %}

            <div style="background: #e5fade;">
            <h3>{{ snippet.name }}</h3>
                <p>{{ snippet.keyword }}</p>
                <p>{{ snippet.title }}</p>
                <a href={{ snippet.url }}>{{ snippet.url }}</a>
                <p><strong></strong> {{ snippet.text }} </p>
                <!--<p><strong></strong> {{ snippet }} </p>-->
              </div>
            {% endfor %}
          {% endfor %}


        <h1> Keywords </h1>

          {% for keyword in keywords %}
            <div style="background: #def3fa;">
                <h3>{{ keyword.keyword }}</h3>
                <p><strong>count:</strong> {{ keyword.count }} &nbsp; <strong>locations:</strong> {{ keyword.locations|join(' | ') }}</p>
            </div>
            {% endfor %}


        <h1> Entities </h1>

          {% for entity in entities %}
            <div style="background: #f3defa;">
                <h3>{{ entity.name }}</h3>
                <p>{{ entity.name_forms|join(' | ') }}</p>
                <p><strong>Type:</strong> {{ entity.type }}</p>
                <p><strong>Score:</strong> {{ entity.score }}</p>
            </div>
          {% endfor %}
    </div>
</div>

</body>
</html>