<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Political Pundits</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>

<div style="margin-top:20px; padding-left:30px; padding-bottom:30px;"><a href="/">  HOME</a></div>

<div style="width: 100%; overflow: hidden;">

    <div class="art">

        <div class ="artlink"><a href="{{ url }}">Read the original article</a></div>
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
    </div>

    <div class="snippetcontainer">
        <!--<div class="snippets">-->
            <!--<h1 style = "margin: 0"> Snippets </h1>-->
        <!--</div>-->

          {% for pundit in newpundits %}

        <div class = "snippets">


            <div style="background: #e5fade;">
            <h3>{{ pundit.pundit.name }}</h3>
                <!--<p>{{ snippet.keyword }}</p>-->
                <p>{{ pundit.pundit.title }}</p>
                <a href={{ snippet.url }}>Read More</a>
                <p> {{ pundit.text }} </p>
                <!--<p><strong></strong> {{ snippet }} </p>-->
              </div>
          {% endfor %}

        <!--<div class="snippets">-->
        <!--<h1 style = "margin: 0"> Keywords </h1> </div>-->

          <!--{% for keyword in keywords %}-->
            <!--<div class="snippets">-->
                <!--<h3>{{ keyword.keyword }}</h3>-->
                <!--<p><strong>count:</strong> {{ keyword.count }} &nbsp; <strong>locations:</strong> {{ keyword.locations|join(' | ') }}</p>-->
            <!--</div>-->
            <!--{% endfor %}-->

        <!--<div class="snippets">-->
            <!--<h1 style = "margin: 0"> Entities </h1>-->
        <!--</div>-->

          <!--{% for entity in entities %}-->
            <!--<div class="snippets">-->
                <!--<h3>{{ entity.name }}</h3>-->
                <!--<p>{{ entity.name_forms|join(' | ') }}</p>-->
                <!--<p><strong>Type:</strong> {{ entity.type }}</p>-->
                <!--<p><strong>Score:</strong> {{ entity.score }}</p>-->
            <!--</div>-->
          <!--{% endfor %}-->
    </div>
</div>

</body>
</html>